{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://icons.iconarchive.com/icons/icons8/windows-8/64/Healthcare-Virus-icon.png">
    <link href="{% static 'mainpage/css/contacts.css'%}" rel="stylesheet">
    <title>Contacts</title>
</head>
<body id="base">
<div id="switch_themes">
    <label id="lbl">
    <input type="checkbox" >
    <span class="check"></span>
</label>
</div>
<div align="center" id="contacts_div">
    <a target="_blank" id="vk" href="https://vk.com/id662926312"><img src="https://icons.iconarchive.com/icons/limav/flat-gradient-social/128/Vk-icon.png"></a>
    <a target="_blank" id="github" href="https://github.com/MaximFedarau/Coronavirus-Helper/tree/main"><img src="https://icons.iconarchive.com/icons/limav/flat-gradient-social/128/Github-icon.png"></a>
</div>
</body>
</html>
