{% load static %}
<!DOCTYPE html>
<html lang="en" id="base_html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Coronavirus-Helper[BETA]</title>
    <link href="{% static 'mainpage/css/mainpage.css'%}" rel="stylesheet">
    <link rel="icon" href="https://icons.iconarchive.com/icons/icons8/windows-8/64/Healthcare-Virus-icon.png">
</head>
<body id="base">
<div id="switch_themes">
    <label id="lbl">
    <input aria-label="an appropriate label" type="checkbox">
    <span class="check"></span>
</label>
</div>
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom" id="upper_menu">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <img src="https://icons.iconarchive.com/icons/icons8/windows-8/64/Healthcare-Virus-icon.png">
        <span class="fs-4"><h1 id="title">Coronavirus-Helper[BETA]</h1></span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <div id="switch_languages">
        <button style="background: white" id="englishbutton"><img src="https://icons.iconarchive.com/icons/hopstarter/flag-borderless/24/United-Kingdom-icon.png"></button><button style="background: white" id = "russianbutton"><img src="https://icons.iconarchive.com/icons/hopstarter/flag-borderless/24/Russia-icon.png"></button>
        </div>
          <a style="position:relative; top: 8px;" href="https://t.me/coronavirus_project_bot" target="_blank"><img src="https://icons.iconarchive.com/icons/froyoshark/enkel/48/Telegram-icon.png"></a><a id="telegram" class="me-3 py-2 text-blue text-decoration-none" href="https://t.me/coronavirus_project_bot" target="_blank" style="position:relative; top: 13px;">Telegram Bot</a>
        <a style="position:relative; top: 10px;" href="/contacts" target="_blank"><img src="https://icons.iconarchive.com/icons/johanchalibert/mac-osx-yosemite/48/contacts-icon.png"></a><a class="me-3 py-2 text-blue text-decoration-none" href="/contacts" target="_blank" id="contacts" style="position:relative; top: 13px;">Contacts</a>
      </nav>
</div>
<div id="coronavirus_information" align="center" style="font-size: 19px;">
    <button class="button" id="main_button"><a href="#telegram_bot" style="display:block;width:150px; height: 35px; position: relative; left: 5px; top: -12px; text-decoration: none; color: white;"><span><img src="https://icons.iconarchive.com/icons/froyoshark/enkel/48/Telegram-icon.png" style="position: relative; top: -5px;"></span></a></button>
    <div id="english_text">
        <aside style="float: left;" id="english_text_aside"><br>
        <strong id="name" style="color: #6C7A89;">Coronavirus infection (COVID-19)</strong> <h6 id="first_part" style="color: #6C7A89;">– is an infectious disease caused by the SARS-CoV-2 virus.</h6><br>
        <strong id="dangerous" style="color: #6C7A89;">The most dangerous strains</strong> <h6 id="second_part" style="color: #6C7A89;">of this disease are Cluster 5, Alpha, Beta, Gamma, Line B.1.525 and Delta.</h6><br>
        <h6 id="third_part" style="color: #6C7A89;">The video shows a computer-simulated penetration of coronavirus into a human body.</h6><br>
            <h6 id="fourth_part" style="color: #6C7A89;">Resources with useful information on the coronavirus:</h6> <a href="https://www.worldometers.info/coronavirus/" target="_blank" id="stat" style="text-decoration: none;">Statistics</a>, <a style="text-decoration: none;" href="https://www.un.org/en/coronavirus" target="_blank" id="news">UN Coronavirus News</a>,<a href="http://www.minzdrav.gov.by/ru/dlya-belorusskikh-grazhdan/COVID-19/" target="_blank" id="points" style="text-decoration: none;">
Vaccination points in Belarus</a>
        </aside></div>
    <script src="{% static 'mainpage/scripts/language.js'%}"></script>
<video width="500px" height="315px" controls class="video" preload="auto" onmouseover="this.play()" onmouseout="this.pause();">
  <source src="{% static 'mainpage/video/corona.mp4'%}" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
    </div>
<div id="coronavirus_statistics" align="center"><div  style="margin-top:15px;color:#354649">
                        <h1 id="corona_cases">Coronavirus Cases:</h1>
                        <div class="maincounter-number">
                            <span style="color:#0C4A60">{{cases}}</span>
                        </div>
                    </div><br><div style="margin-top:15px;color:#354649">
                        <h1 id="deaths_cases">Deaths:</h1>
                        <div class="maincounter-number">
                            <span style="color:#0C4A60;">{{deaths}}</span>
                        </div>
                    </div><br> <div  style="margin-top:15px;color:#354649">
                        <h1 id="recovered_cases">Recovered:</h1>
                        <div class="maincounter-number" style="color:#354649 ">
                            <span>{{recovered_number}}</span>
                        </div>
                    </div></div>
<script src="{% static 'mainpage/scripts/language1.js'%}"></script>
<div id="telegram_bot" align="center"><br>
    <div id="bot_description_english"><a style="text-decoration: none; color:white;">
        <a id="d_first_part" style="color: #DBC1AD">Our Telegram-bot allows people to quickly
        find out the latest and reliable information
            about the coronavirus.</a><br>
        <a id="d_second_part" style="color: #DBC1AD">Help yourself and your relatives
            as the speed of obtaining reliable data is more import tant then ever!</a><br></a>
        <div style="color:#ED7458;" id="warning">[WARNING!]</div> </div> <div class="del_container"><del id="warning_on_english">This project is only in BETA version. If you have any advices or problems with our services or you want to join our team, then please contacts with us as fast as you can!</del><br></div>
    <img src="{% static 'mainpage/img/screenshot_english.png'%}" id="screen_english">
<img src="{% static 'mainpage/img/screenshot_russian.png'%}" id="screen_russian">
</div>
<div id="div_updates"><h1 style="text-align: center; color: #57648C;"><a href="https://t.me/coronavirus_project_bot" target="_blank"><img src="https://icons.iconarchive.com/icons/froyoshark/enkel/48/Telegram-icon.png"></a><a id="updates_main_title">Coronavirus-Helper Bot latest update:</a></h1> {% for c in latest_bot_updates %}
        <p>
            <h2><strong style="position: relative; left: 10px;">{{c.update_title}}</strong></h2>
            <p style="position: relative; left: 10px;">{{c.update_text}}</p>
            <p style="position: relative; left: 10px;"> {{c.publication_date}}</p>
        </p>
    {% endfor %}</div>
<script src="{% static 'mainpage/scripts/language2.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>
